<?xml version="1.0" encoding="UTF-8"?> 

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">

	<appender name="sonar" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="8000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/sonar.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="comparisons" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/comparisons.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="output" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/output.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m\r\n"/>
		</layout>	    
	</appender>

	<appender name="sonarmodel" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="8000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/sonarmodel.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="time" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/time.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r %-5p %c %d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="movfilter" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/movfilter.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="ekf" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/ekf.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r %d{HH:mm:ss dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="ekf_covar" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/ekf_covar.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r %-5p %c %d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="ekf_input" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/ekf_input.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r %-5p %c %d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="srukf" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/srukf.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>
	<appender name="perukf" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/perukf.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="aukf" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/aukf.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="ukf" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="20000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/ukf.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r %d{HH:mm:ss dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="eigenukf" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="8000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/eigenukf.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="ukf_covar" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/ukf_covar.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="ukf_input" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/ukf_input.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r %-5p %c %d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="ukf_res1" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/ukf_res1.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r %-5p %c %d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="pf" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/pf.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="pf_covar" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/pf_covar.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r %-5p %c %d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="pf_input" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/pf_input.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r %-5p %c %d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="br.com" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="5500KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/br.com.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r %-5p %c %d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r %-5p %c %d{dd MMM yyyy} - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="RootFileRoller" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="20000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/root.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r %d{HH:mm:ss} - %m\r\n"/>
		</layout>
	</appender>

	<appender name="TimeFileRoller" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="6000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/time.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r %d{HH:mm:ss} - %m\r\n"/>
		</layout>
	</appender>

	<appender name="EstimatesFileRoller" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/estimates.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="RadarFileRoller" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/radar.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="RealPoseFileRoller" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/realpose.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r - %m\r\n"/>
		</layout>	    
	</appender>

	<appender name="OdomFileRoller" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/odom.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-4r - %m\r\n"/>
		</layout>	    
	</appender>
	<appender name="canvas" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/canvas.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m\r\n"/>
		</layout>	    
	</appender>

	<appender name="perfil_gen" class="org.apache.log4j.RollingFileAppender">
		<param name="MaxFileSize" value="4000KB"/>
		<param name="MaxBackupIndex" value="10"/>
		<param name="File" value="${log4j-logs-location}/perfil_gen.log"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m\r\n"/>
		</layout>	    
	</appender>

	<category name="perfil_gen">
		<priority value="debug"/>
		<appender-ref ref="perfil_gen"/>
	</category>
	<category name="canvas">
		<priority value="warn"/>
		<appender-ref ref="canvas"/>
	</category>
	<category name="sonarmodel">
		<priority value="debug"/>
		<appender-ref ref="sonarmodel"/>
	</category>
	<category name="sonar">
		<priority value="debug"/>
		<appender-ref ref="sonar"/>
	</category>
	<category name="time">
		<priority value="warn"/>
		<appender-ref ref="time"/>
	</category>
	<category name="movfilter">
		<priority value="warn"/>
		<appender-ref ref="movfilter"/>
	</category>
	
	<category name="realpose">
		<priority value="warn"/>
		<appender-ref ref="RealPoseFileRoller"/>
	</category>

	<category name="odom">
		<priority value="warn"/>
		<appender-ref ref="OdomFileRoller"/>
	</category>

	<category name="radar">
		<priority value="warn"/>
		<appender-ref ref="RadarFileRoller"/>
	</category>

	<category name="estimates">
		<priority value="warn"/>
		<appender-ref ref="EstimatesFileRoller"/>
	</category>

	<category name="br.com">
		<priority value="debug"/>
		<appender-ref ref="br.com"/>
	</category>

	<category name="ekf">
		<priority value="debug"/>
		<appender-ref ref="ekf"/>
	</category>

	<category name="ekf_input">
		<priority value="warn"/>
		<appender-ref ref="e"/>
	</category>

	<category name="ekf_res1">
		<priority value="warn"/>
		<appender-ref ref="ekf_res1"/>
	</category>

	<category name="perukf">
		<priority value="warn"/>
		<appender-ref ref="perukf"/>
	</category>

	<category name="eigenukf">
		<priority value="debug"/>
		<appender-ref ref="eigenukf"/>
	</category>
	<category name="ukf">
		<priority value="debug"/>
		<appender-ref ref="ukf"/>
	</category>
	<category name="srukf">
		<priority value="debug"/>
		<appender-ref ref="srukf"/>
	</category>
	<category name="aukf">
		<priority value="warn"/>
		<appender-ref ref="aukf"/>
	</category>

	<category name="ukf_input">
		<priority value="warn"/>
		<appender-ref ref="ukf_input"/>
	</category>

	<category name="ukf_res1">
		<priority value="warn"/>
		<appender-ref ref="ukf_res1"/>
	</category>

	<category name="ukf_covar">
		<priority value="warn"/>
		<appender-ref ref="ukf_covar"/>
	</category>

	<category name="pf">
		<priority value="warn"/>
		<appender-ref ref="pf"/>
	</category>

	<category name="pf_input">
		<priority value="warn"/>
		<appender-ref ref="pf_input"/>
	</category>

	<category name="pf_covar">
		<priority value="warn"/>
		<appender-ref ref="pf_covar"/>
	</category>

	<category name="br">
		<priority value="debug"/>
		<appender-ref ref="RootFileRoller"/>
	</category>

	<category name="time">
		<priority value="debug"/>
		<appender-ref ref="TimeFileRoller"/>
	</category>

	<category name="comparisons">
		<priority value="debug"/>
		<appender-ref ref="comparisons"/>
	</category>

	<category name="output">
		<priority value="debug"/>
		<appender-ref ref="output"/>
	</category>

	<root>
		<priority value="debug"/>
		<appender-ref ref="RootRootFileRoller"/>
	</root>

</log4j:configuration>
